body {
  padding-top: 40px;
  text-align: center;
  font-family: monaco, monospace;
  background-size: cover;
}
h1, h2 {
  display: inline-block;
  background: #fff;
}
h1 {
  font-size: 30px;
  margin: 4px;
}
h2 {
  font-size: 20px;
  margin-top: 1px;
  margin-bottom: 14px;
}
span {
  background: #fd0;
}
p {
  background: white;
  font-variant: small-caps;
  margin: 0 !important;
  font-size: 16px;
  text-align: center;
}

a {
  background: white;
  font-variant: small-caps;
  margin: 1 !important;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #3d3d29;
}

.error-text {
	color: #ff0000;
	font-weight: bold;
}

.warning-text {
	color: #ffad33;
	font-weight: bold;
}

.info-text {
	color: #009900;
	font-weight: bold;
}

.message-text {
	color: #000000;
	font-weight: bold;
}

.error {
	background: #ff0000;
	color: white;
	text-shadow: 1px 1px #3d3d29;
}

.warning {
	background: #ffad33;
	color: white;
	text-shadow: 1px 1px #3d3d29;
}

.info {
	background: #009900;
	color: white;
	text-shadow: 1px 1px #3d3d29;
}

.message {
	text-shadow: 1px 1px #ebebe0;
}
table {
	width: 50% !important;
    #border: 1px solid black;
	padding: 2px;
}

th, td {
	#border: 1px solid black;
	padding: 2px;
}

.tr-message {
}

.table-header {
	font-size: 20px;
	font-variant: small-caps;
}

.level {
	width: 5% !important;
	padding: 4px;
}

.timestamp {
	width: 17% !important;
	padding: 4px;
}

.message {
	padding: 4px;
}
td.PerformanceCell
{
    width: 100px;
}