{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="static/js/socket.js"></script>
<script src="static/js/update.js"></script>
<script src="static/js/hide.js"></script>
<script>
	function show(type) {
		var selector = $('.' + type + '-text').parent();
		if( selector.length ) {
			selector.siblings().hide();
			$('#head').show();
			selector.show();
		} else {
			$('.tr-message:visible').hide();
		}
	}
	
	function filter() {
		var value =$("#message_level_filter").val();
		if( value.length ) {
			var selector = $('.tr-message');
			selector.each( function( ) {
				var element = $(this).find("td.message").html();
				if (element.indexOf(value) != -1) {	} else {
					$(this).hide();
				}
			});
		} else {
			show_all();
		}
	}
	
	function show_all() {
		var all = $('tr');
		all.show();
	}
	
	function discard() {
		if (confirm('Are you sure you want to discard these messages?')) {
			var selector = $('.tr-message:visible');
			selector.each( function( ) {
			var identifier = $(this).attr( "id" );
			socket.emit('delete', { "uuid": identifier } );
			$(this).hide();
		});
		socket.emit('message');
		} else {}
	}
	
	function searchKeyPress(e)
{
    // look for window.event in case event isn't passed in
    e = e || window.event;
    if (e.keyCode == 13)
    {
		filter();
        return false;
    }
    return true;
}
</script>
{% endblock %}
{% block content %}
	<h1>PrEDIction</h1><br>
	<h2>ALERTER</h2>
	<table  align="center">
		<tr>
			<!--<td>
				<form action="add">
					<input class="btn" type="submit" value="Add Sample" style="width:100%">
					<input type="hidden" name="level" value="INFO" /> 
					<input type="hidden" name="timestamp" value="{{ timestamp }}" /> 
					<input type="hidden" name="body" value="Przykładowy komunikat typy INFO" /> 
				</form>
			</td>-->
			<td>
				<form>
					<input class="btn" type="button" value="All" onclick="show_all();" style="width:100%">
				</form>
			</td>
			<td>
				<form>
					<input class="btn" type="button" value="Info" onclick="show('info');" style="width:100%">
				</form>
			</td>
			<td>
				<form>
					<input class="btn" type="button" value="Warnings" onclick="show('warning');" style="width:100%">
				</form>
			</td>
			<td>
				<form>
					<input class="btn" type="button" value="Errors" onclick="show('error');" style="width:100%">
				</form>
			</td>
			<td>
				<form>
					<input class="btn" type="button" value="Other" onclick="show('message');" style="width:100%">
				</form>
			</td>
			<td>
				<form>
					<input class="btn" type="button" value="Discard" onclick="discard();" style="width:100%">
				</form>
			</td>
		</tr>
	</table>
	
	<table align="center">
		<tr style="height: 5px;">
			<td class="td-search-1">
				Search
			</td>
			<td width="2%"></td>
			<td class="td-search-2">
				<form>
					<!--<input type="text" id="message_level_filter" name="message_level" size="30" onkeyUp="return searchKeyPress(event);" >-->
					<input type="text" id="message_level_filter" name="message_level" size="30" onkeypress="return searchKeyPress(event);">
				</form>
			</td>
			<!--<td>
				<input id="message_level_filter_button" class="btn" type="button" value="Filter" onclick="filter();" style="width:100%">
			</td>-->
		<tr>
	</table>
	
	<table id="log" align="center" class="table table-hover">
	</table>
	
	<script src="static/js/show_messages.js"></script>
{% endblock %}

